<!-- No, the view should not be doing this.  Also, this is gross.

A price, divided, with an arbitrary ".00" suffix bolted on?  That's not quality.

-->

<h1>Thanks for donating $<%= @charge.amount/100 %>.00</h1>
